// Variables
$while-color: #fff;
$light-white-color: #edf2f7;
$primary-color: #3498db;
$secondary-color: #4a5568;
$button-hover-color: #2c3e50;
$form-border-color: #e2e8f0;
$error-color: #e53e3e;

$bs-body-color: #212529;
$bs-body-font-size:1rem;
$bs-body-bg: #fff;
